h1{
    text-align: center;
}
.circle{
    border-radius: 10px;
    width: 33%;
    height: 30px;
    font-size: 25px;
    background-color: #8000ff;
    color: white;
}
.background{
    --background: url(../../assets/color.png) !important;
    
      
}