<ion-header>
    <ion-toolbar>
      <ion-menu-button slot="start">
      </ion-menu-button>
      <ion-title>Easy Entity Release</ion-title>
    </ion-toolbar>
  </ion-header>
   
  <ion-content class="background">
      <ion-card style="width:90%;">
        <ion-card-header style="background-color:white; font-size: 120%; white-space: normal; width:100%; text-align: center; color:black;" center>
          <strong>The Removal of Dark Entities and Spirit Attachments</strong>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-list >
           <ion-item style=" color:black; text-align:center"> <strong>Prayer of Protection:</strong></ion-item>
          <ion-item style="background-color:rgb(255, 255, 255);"> 
            <strong>   I choose the Light –  I am the Light </strong>
           </ion-item>
           <br />
           <ion-item style="background-color:rgb(255, 255, 255);">
            <strong> I call upon Source/God Consciousness, and I ask for your 
              protection and guidance in clearing Dark Entity Consciousness. </strong>
            </ion-item>
            <br />
            <ion-item style="background-color:rgb(255, 255, 255);"> 
            <strong> I neutralize any fears I have, any misconceptions and 
              misinformation about the nature of this work.</strong>
            </ion-item>
            <br />
            <ion-item style="background-color:rgb(255, 255, 255);">
            <strong> When I am courageous enough to take this journey, 
              I call the dark energy into the Light to be healed.</strong>
            </ion-item>
            <br />
            <ion-item style="background-color:rgb(255, 255, 255);">
            <strong>  This allows me to see my own magnificence and 
              the truth of who I am more clearly… </strong>
            </ion-item>
            <br />
            <ion-item style="background-color:rgb(255, 255, 255);">
           <strong>   I choose the Light – I am the Light</strong>
            </ion-item>
          
        </ion-list>
      </ion-card>
    <button ion-button (click)='clickables()' float-right class="circle"> <strong>Next</strong></button>
  </ion-content>
  